<container class="main">
  <div class="memberScroll col-sm-6">
      <ul ng-repeat="member in allMembers" style="list-style-type:none;">
          <li ng-click="getProfile(member._id)">  
              <container class="memberBody">
                <img ng-src="{{member.avatar}}">

                <h3>{{member.names.firstName}}</h3>
                <span class="" ng-class="{'green':post.rating>0,'red':post.rating<0}">{{post.rating}}
                </span>
                <p>Location: {{member.address.city}}</p><br>
                <p>age: {{member.dob | filter: ageFilter}}</p>
              </container>
          <li>
      <ul>
  </div>

<!--   <div ng-hide="login">
    <div class="profileScroll col-sm-6">
        <div>  
          <container>
            <h1 class="fa fa-meh-o"></h1>
          </container>
        <div>
    </div>
  </div> -->

  <div ng-hide="!login" class="profileScroll col-sm-6">
      <div>  
        <container>
          <img ng-src="{{member.avatar}}">
          <h3>{{member.names.firstName}}</h3>
          <p>Location: {{member.address.city | date:'MM/dd/yyyy'}}</p><br>
          <p>age: {{member.dob}}</p>
        </container>
      <div>
  </div>
</container>