<div>
  <header>
    <h1><span class="fa fa-meh-o"></span> meat<strong>up</strong></h1>
    <input type="text" placeholder="Search">
    <button ng-model="newPost" ng-click="newPost = !newPost">Log In</button>
  </header><br>

<!--   <div ng-hide="newPost">
    <div class="formBox">
      <form name="newPost" ng-submit="addPost(post)">
        <h3>Register or Log In</h3>
        <label for="username">Username: </label>
        <input type="text" name="username" ng-model="post.username"></input><br>
        <label for="password">Password: </label>
        <input type="text" name="password" ng-model="post.password"></input><br>
        <p>Author must contain at least 4 characters.</p><br>
        <button type="submit">Post it.</button><br><br>
      </form>  
    </div>
  </div> -->